<nav>
    <div>
      <div class="navBar">
        <img class="accueilLogo" src="../../assets/images/loadingScreen/LOGO-HORIZONTAL-BLANC.svg" alt="" srcset="">
        <span class="posButton">
          <button mat-stroked-button><a routerLinkActive="active" routerLink="../devenir-partenaire">Devenir
              partenaire</a></button>
          <button mat-stroked-button><a routerLinkActive="active" routerLink="../billeterie">Billetterie
              participant</a></button>
        </span>
      </div>
    </div>
</nav>
