<h1>Contact</h1>

<form #profileForm class="main-div">
    <div class="identite">
        <label>
            Prénom : <input required/>
        </label>
        <label>
            Nom : <input required />
        </label>
    </div>
    <div class="entreprise">
        <label>
            Entreprise : <input required />
        </label>
    </div>   
    <div class="message">
        <textarea placeholder="Message" class="messageSize" contenteditable="true" type="richtext" required></textarea>
    </div>
    <button type="submit">Envoyer</button>
</form>