.global-div {
  height: 100vh;
  width: 100vw;
  // background-color: rgba(255, 0, 0, 0.356);
  background: rgb(2, 0, 36);
  background: linear-gradient(164deg, rgb(54, 50, 119) 0%, rgb(243, 69, 127) 35%, rgba(0, 212, 255, 1) 100%);
  color: white;
  font-family: 'Rubik';
  font-style: normal;
}

.radioButton {
  margin-left: 88%;
  margin-right: 3%;
}