<span class="routingRadio">
    <a routerLinkActive="active" routerLink="../accueil">
        <mat-radio-button>
            Accueil
        </mat-radio-button>
    </a>
    <a routerLinkActive="active" routerLink="../concours">
        <mat-radio-button>
            Concours
        </mat-radio-button>
    </a>
    <a routerLinkActive="active" routerLink="../programmation">
        <mat-radio-button>
            Programmation
        </mat-radio-button>
    </a>
    <a routerLinkActive="active" routerLink="../billeterie">
        <mat-radio-button>
            Billeterie
        </mat-radio-button>
    </a>
    <a routerLinkActive="active" routerLink="../multimedia">
        <mat-radio-button>
            Multimédia
        </mat-radio-button>
    </a>
    <a routerLinkActive="active" routerLink="../equipe">
        <mat-radio-button>
            Equipe
        </mat-radio-button>
    </a>
    <a routerLinkActive="active" routerLink="../partenaire">
        <mat-radio-button>
            Partenaire
        </mat-radio-button>
    </a>
    <a routerLinkActive="active" routerLink="../contact">
        <mat-radio-button>
            Contact
        </mat-radio-button>
    </a>
</span>