<span>
    <h1>FishEye Festival</h1>
<h3>Du 10 au 14 mai</h3>
<p>Fisheye est une nouvelle initiative récréo-culturelle à partager avec tout le monde. 
    Musique, vidéo et photographie.
    Fisheye est un petit festival toulousain et sa revendication est l’audiovisuelle pour tout le monde. Fisheye est ensoleillé, frais, amusant et déconseillé aux enfants mignons. Ce festival itinérant indépendant est pour les canailles.
    L'affiche représente le soleil, la nature et la fête.
    Nous combinons une police Windsor Pro et une police New Montreal.
    Les couleurs sont primaires et répondent aux couleurs des jeux des années 80.</p>
</span>
